In [1]:
import pandas as pd

In [3]:
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)

In [4]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [8]:
mapa = {'home':'principal',
        'how_it_works' : 'como_funciona',
        'contact' : 'contato',
        'bought' : 'comprou'}
dados = dados.rename(columns = mapa)

In [9]:
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [13]:
x = dados[['principal','como_funciona','contato']]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [14]:
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [12]:
dados.shape

(99, 4)

In [21]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

teste_y.shape

(24,)

In [23]:
print(' Treinamos com %d elementos e testaremos com %d elementos' %(len(treino_x), len(teste_x)) )

 Treinamos com 75 elementos e testaremos com 24 elementos

In [27]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)

In [33]:
print('A acurácia foi de %.2f%%' %(acuracia*100))

A acurácia foi de 95.83%

# Usando biblioteca para treino e teste

In [51]:
from sklearn.svm import LinearSVC # Modelo de previsão
from sklearn.metrics import accuracy_score # calcula a acurácia
from sklearn.model_selection import train_test_split  # ja devolve os valores segmentados

SEED = 20 # defini a ordem dos números aleátorio.. garantindo o mesmo resultado

treino_x, teste_x, treino_y,teste_y =train_test_split(x,y,random_state = SEED,test_size=0.25)
print('Treinamos com %d elementos e testaremos com %d elementos' %(len(treino_x), len(teste_x)) )


modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)
print('A acurácia foi de %.2f%%' %(acuracia*100))

Treinamos com 74 elementos e testaremos com 25 elementos
A acurácia foi de 96.00%

In [53]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [55]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [56]:
# A proporção esta errada .. assim a previsão pode dar errado

In [57]:
SEED = 20 # defini a ordem dos números aleátorio.. garantindo o mesmo resultado

treino_x, teste_x, treino_y,teste_y =train_test_split(x,y,random_state = SEED,
                                                      test_size=0.25,
                                                      stratify=y) # stratify=y --> separa de forma proporcional ao y
print('Treinamos com %d elementos e testaremos com %d elementos' %(len(treino_x), len(teste_x)) )


modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)
print('A acurácia foi de %.2f%%' %(acuracia*100))

Treinamos com 74 elementos e testaremos com 25 elementos
A acurácia foi de 96.00%

In [58]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [59]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64